@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
	background-color: rgb(255, 255, 255);
	overflow: hidden;
}

.navbar a:hover {
	color: rgb(184, 184, 184);
}

article {
	background-color: #fff;
	padding: 1.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	margin-bottom: 1.5rem;
}

article h2 {
	margin-bottom: 0.5rem;
}

article p {
	margin-bottom: 1rem;
}

/* @media screen and (max-width: 800px) {
	.navbar a:not(:first-child) {
		display: none;
	}
	.navbar a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 800px) {
	.navbar.responsive {
		position: relative;
	}
	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.navbar.responsive #praksisProsjekt {
		float: none;
		text-align: left;
	}
} */
